---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "@fontsource/ibm-plex-serif/400.css";
import Clock from "../components/clock";
import { SEO } from "astro-seo";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <SEO
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      openGraph={{
        basic: {
          title: "Michael Ibinola",
          type: "Frontend Engineer",
          image:
            "https://api.dicebear.com/8.x/initials/svg?seed=Michael%20Ibinola",
        },
      }}
    />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <p>
        Hi 👋, I'm Michael Ibinola, a frontend engineer. I created this <a
          href="/blog
				">blog</a
        > to improve my thinking process through writing and also to learn better.
      </p>
      <p>
        My primary tools are Python, JavaScript/TypeScript, Next.js and React
      </p>
      <p>
        You can find me on <a
          href="https://linkedin.com/in/michaelibinola98/"
          target="_blank">LinkedIn</a
        > or send me an <a href="mailto:ibinolamichael1@gmail.com">email</a>
      </p>

      <p>Exploring React's Internals and studying DSA's</p>
      <p>
        All my code is on <a href="https://github.com/Ibinola" target="_blank"
          >GitHub</a
        >
      </p>
    </main>

    <Clock client:visible />
    <Footer />
  </body>
</html>
